.container {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
}
